.about-wrapper {
    padding: 3rem 0;
    justify-content: space-around;
}

.left-container {
    width: 50%;
    text-align: center;
    font-weight: 600;
}


.right-container {
    display: flex;
    width: 30%;
}

.adocao-imagem {
    width: 100%;
    border-radius: 10px;
}