.nav-container {
    background: linear-gradient(90deg, rgba(250,242,219,1) 0%, rgba(252,197,35,1) 61%, rgba(252,197,35,1) 100%);
    height: 6rem;
    justify-content: space-between;
    padding: 0 4rem;
    border-bottom: 2px solid black;
}

.slogan-container {
    height: 100%;
}

.imagem-nav {
    width: 5rem;
    height: 5rem;
}

.link-items {
    list-style: none;
    gap: 2rem;
    transition: all 300ms ease-in;
}

.link-item {
    transition: all 300ms ease-in;
}

.link-item:hover {
    transform: scale(1.2);
}


.link {
    text-decoration: none;
    color: black;
}

.link:hover {
    color: brown;
}